.hello {
    color: red;
  }
.content{
  display: flex;
  grid-template-columns: 100px 100px;
  gap: 20px;
}

.dropdown{
  display: block;
  overflow-y: hidden;
}

  button{
    background-color: darkcyan;
    font-size: 1.2rem;
  }
  .dropdown-content{
    display: none;
    overflow: auto;
    min-width: max-content;
    flex-direction: column;

  }
  a{
    text-decoration: none;
    padding: 15px;
    width: 75px;
    background-color: antiquewhite;

  }